{% extends "bases/sidebar.html" %}
{% block content %}

    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                  <ul class="nav nav-tabs page-tabs">
                      <li> <a href="/task/tasklist">任务列表</a> </li>
                      <li> <a href="/task/addtask/">添加任务</a> </li>
                      <li class="active" > <a href="#!">修改任务</a> </li>
                      <li> <a href="/task/add_task_point?task_id={{task_id}} ">添加小任务</a> </li>
                      <li> <a href="/task/taskinfo/?task_id={{ task_id }}">任务详情</a> </li>
                      <li> <a  onclick="javascript:history.back(-1);return false;">返回</a> </li>
                    </ul>       

    <h4>添加为何创建任务图片</h4>
    <div id="wrapper">
        <div id="container">
            <!--头部，相册选择和格式选择-->

            <div id="uploader">
                <div class="queueList">
                    <div id="dndArea" class="placeholder">
                        <div id="filePicker"></div>
                        <p>或将照片拖到这里，单次最多可选300张</p>
                    </div>
                </div>
                <div class="statusBar" style="display:none;">
                    <div class="progress">
                        <span class="text">0%</span>
                        <span class="percentage"></span>
                    </div>
                <div class="info"></div>
                    <div class="btns">
                        <div id="filePicker2"></div>
                        <div class="uploadBtn">开始上传</div>
                    </div>
                </div>
            </div>
         </div>
      </div>

                  <div class="form-group col-md-12">
                    <div class="form-controls">

                      <ul class="list-inline clearfix lyear-uploads-pic">
                        {% for taskimg in imglist %}
                        <li class="col-xs-4 col-sm-3 col-md-2">
                          <figure>
                            <img src="/media/{{ taskimg.img }}">
                            <figcaption>
                              <a class="btn btn-round btn-square btn-primary" href="/media/{{ taskimg.img }}"><i class="mdi mdi-eye"></i></a>
                              <a class="btn btn-round btn-square btn-danger" href="/upload/delimg?task_id={{task_id}}&taskimg_id={{ taskimg.id}}"><i class="mdi mdi-delete"></i></a>
                            </figcaption>
                          </figure>
                        </li>
                       {% endfor  %}
                      </ul>
                    </div>
                  </div>

                <form action="#!" method="post" class="row">
                    {% csrf_token %}
                  <div class="form-group col-md-12">
                    <label for="type">任务程度</label>
                    <div class="form-controls">
                      <select name="type" class="form-control"  id="type">
                        <option value="0">不急加重</option>
                        <option value="1">不急</option>
                        <option value="2">正常</option>
                        <option value="3">紧急</option>
                        <option value="4">加急</option>
                        <option value="5">重要</option>
                        <option value="6">加重</option>
                        <option value="7">不急重要</option>
                        <option selected="selected" value="{{ taskinfo.tasktype}}" >{{ taskinfo.get_tasktype_display }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ taskinfo.title }}" placeholder="请输入标题" />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="seo_description">任务描述</label>
                    <textarea class="form-control" id="seo_description" name="description" rows="5" value="" placeholder="描述为何创建任务">{{ taskinfo.description }}</textarea>
                  </div>

                  <div class="form-group col-md-12">
                    <label for="tags">标签</label>
                    <input class="js-tags-input form-control" type="text" id="tags" name="tags" value="{{ taskinfo.tags}}" />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="status">状态</label>
                    <div class="clearfix">
                      <label class="lyear-radio radio-inline radio-primary">
                        <input type="radio" name="status" value="0"><span>未启动</span>
                      </label>
                      <label class="lyear-radio radio-inline radio-primary">
                        <input type="radio" name="status" value="1" checked><span>启动</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                  </div>
                </form>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>







<script type="text/javascript" src="/static/upload/jquery.js"></script>
    <script type="text/javascript" src="/static/upload/webuploader.js"></script>
    <script type="text/javascript" src="/static/upload/upload.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
    <!--标签插件-->
    <script src="/static/js/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/static/js/main.min.js"></script>
</body>
</html>
{% endblock content %}
