{% extends "bases/sidebar.html" %}
{% block content %} 
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">

         <ul class="nav nav-tabs page-tabs">
           <li class="active"> <a href="/task/tasklist">任务列表</a> </li>
           <li> <a href="/task/addtask">添加任务</a> </li>
           <li> <a  onclick="javascript:history.back(-1);return false;">返回</a> </li>
         </ul>       
              <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="POST" action="" role="form">
                   {% csrf_token %}
                  <div class="input-group">
                    <div class="input-group-btn">
                      <input type="hidden" name="search_field" id="search-field" value="title">
                      <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                      标题 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">标题</a> </li>
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="username">作者</a> </li>
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="status">状态</a> </li>
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="status">类型</a> </li>
                      </ul>
                    </div>
                    <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                  </div>
                </form>
                <div class="toolbar-btn-action">
                  <a class="btn btn-primary m-r-5" href="/task/addtask"><i class="mdi mdi-plus"></i> 新增</a>
                  <button type="submit" class="btn btn-success m-r-5 mdi mdi-check"  >启用</button>
                  <button type="submit" class="btn btn-warning m-r-5 mdi mdi-block-helper" >完成</button>
                  <button type="submit" class="btn btn-info m-r-5 mdi mdi-window-close" onclick="location.href='index.html'">移除</button>
                </div>
              </div>
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" id="check-all"><span></span>
                          </label>
                        </th>
                        <th>ID</th>
                        <th>标题</th>
                        <th>标签</th>
                        <th>作者</th>
                        <th>创建时间</th>
                        <th>结束时间</th>
                        <th>修改时间</th>
                        <th>状态</th>
                        <th>类型</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for taskinfo in tasklist_json %}
                      <tr>
                        <td>
                          <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" name="ids[]" value="1"><span></span>
                          </label>

                        </td>
                        <td>{{ taskinfo.id }}</td>
                        <td>{{ taskinfo.title  }}</td>
                        <td>
                          {% for tag in taskinfo.tags  %}
                        <span class="label label-yellow">{{ tag }}</span>
                         {% endfor %}
                        </td>
                        <td>{{ taskinfo.username }}</td>
                        <td>{{ taskinfo.c_time }}</td>
                        <td>{{ taskinfo.f_time }}</td>
                        <td>{{ taskinfo.m_time }}</td>
                        <!-- <td><font class="text-warning">{{ taskinfo.get_status_display }}</font></td>
                        <td><font class="text-success">{{ taskinfo.get_tasktype_display }}</font></td> -->
                        <td><font class="text-warning">{{ taskinfo.status}}</font></td>
                        <td><font class="text-success">{{ taskinfo.tasktype }}</font></td>
                        <td>
                          <div class="btn-group">
                            <a class="btn btn-xs btn-default" href="/task/edittask?task_id={{ taskinfo.id }}" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                            <a class="btn btn-xs btn-default" href="/task/add_task_point?task_id={{ taskinfo.id }}" title="创建小任务" data-toggle="tooltip"><i class="mdi mdi-format-list-bulleted"></i></a>
                            <a class="btn btn-xs btn-default" href="/task/taskinfo?task_id={{ taskinfo.id }}" title="创建项目原因" data-toggle="tooltip"><i class="mdi mdi-content-paste"></i></a>
                            <a class="btn btn-xs btn-default" href="#!" title="解决文档" data-toggle="tooltip"><i class="mdi mdi-book-open-page-variant"></i></a>
                          </div>
                        </td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>

                <ul class="pagination">
                  <li class="disabled"><span>«</span></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#1">2</a></li>
                  <li><a href="#1">3</a></li>
                  <li><a href="#1">4</a></li>
                  <li><a href="#1">5</a></li>
                  <li><a href="#1">6</a></li>
                  <li><a href="#1">7</a></li>
                  <li><a href="#1">8</a></li>
                  <li class="disabled"><span>...</span></li>
                  <li><a href="#!">14452</a></li>
                  <li><a href="#!">14453</a></li>
                  <li><a href="#!">»</a></li>
                </ul>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/static/js/main.min.js"></script>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});
</script>
</body>
</html>
{% endblock content %}
