<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>Form get textarea value - Editor.md examples</title>
        <link rel="stylesheet" href="/static/markdown/examples//css/style.css" />
        <link rel="stylesheet" href="/static/markdown/css/editormd.css" />
        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    </head>
    <body>
            {% for doc in docinfo %}
        <div id="layout">
            <header>
                <h1>添加文章</h1>   
            </header>
            <form method="post" action="/wiki/savedoc?doc_id={{ doc.id }}">
                <input type="text" class="form-control" id="title" name="title" value="{{ doc.title }}" placeholder="请输入标题" />
                <div id="test-editormd">
                    <!-- Custom textarea name attribute <textarea style="display:none;" name="test-textarea-name"> -->
                    <textarea style="display:none;">
</textarea>
                </div>
                <div style="width:90%;margin: 10px auto;">
                    <input type="submit" name="submit" value="提交表单 Submit" style="padding: 5px;" /> 
                </div>               
            </form>
        </div>        
        <script src="/static/markdown/examples/js/jquery.min.js"></script>
        <script src="/static/markdown/editormd.js"></script>   
        <script type="text/javascript">
            $(function() {
                $.get("/media/wiki/doc/{{ doc.content }}", function(md) {
                    var testEditor = editormd("test-editormd", {
                        width  : "90%",
                        height : 640,
                        path   : "/static/markdown/lib/",
                        appendMarkdown : md,
                        saveHTMLToTextarea : true
                    });
                });

                //testEditor.getMarkdown();       // 获取 Markdown 源码
                //testEditor.getHTML();           // 获取 Textarea 保存的 HTML 源码
                //testEditor.getPreviewedHTML();  // 获取预览窗口里的 HTML，在开启 watch 且没有开启 saveHTMLToTextarea 时使用
            });
        </script>
            {% endfor %}
    </body>
</html>
