{% extends "bases/form.html" %}
{% block content %}
      <form action="/users/login" method="post">
        {% csrf_token %}
        <div class="form-group has-feedback feedback-left">
          <input type="text" placeholder="请输入您的用户名" class="form-control" name="username" id="username" />
          <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback feedback-left">
          <input type="password" placeholder="请输入密码" class="form-control" id="password" name="password" />
          <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback feedback-left row">
          <div class="col-xs-7">
            <input type="text" name="captcha" class="form-control" placeholder="验证码">
            <span class="mdi mdi-check-all form-control-feedback" aria-hidden="true"></span>
          </div>
          <div class="col-xs-5">
            <img src="/users/captcha" class="pull-right" id="captcha" style="cursor: pointer;" onclick="this.src=this.src+'?d='+Math.random();" title="点击刷新" alt="captcha">
          </div>
          </div>
            <div class="form-group">
            <button class="btn btn-block btn-primary"  name="submit" >立即登录</button>
            <span style="color:red;" class="btn " id="example-error-notify" >{{ error_msg }}</span>
          </div>
          <div class="text-center">
                <button type="button" class="btn btn-success" onclick="location.href='/users/sendemail'" >忘记密码</button>
                <button type="button" class="btn btn-warning" onclick="location.href='/users/adduser'" >注册用户 </button>
          </div>
      </form>
{% endblock content %}
