{% extends "bases/form.html" %}
{% block content %}
          <form action="/users/sendemail" method="post">
        {% csrf_token %}
        <div class="form-group has-feedback feedback-left">
          <input type="text" placeholder="请输入找回密码的邮箱" class="form-control" name="email" id="email" />
          <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
        </div>
            <div class="form-group">
            <button class="btn btn-block btn-primary"  name="submit" >获取验证码</button>
            <span style="color:red;" class="btn " id="example-error-notify" >{{ error_msg }}</span>
          </div>
      </form>
{% endblock content %}
