<!DOCTYPE html>
<htm lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>JamesOps 自动化运维平台</title>
<link rel="icon" href="/static/cat.jpg" type="image/ico">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/materialdesignicons.min.css" rel="stylesheet">
<link href="/static/css/style.min.css" rel="stylesheet">

<!--上传图片插件-->
<link href="/static/Avatar/cropper.min.css" rel="stylesheet">
<link href="/static/Avatar/bootstrap.min.css" rel="stylesheet">
<!--上传图片插件-->

<!--标签插件-->
<link rel="stylesheet" href="/static/js/jquery-tags-input/jquery.tagsinput.min.css">
<link href="/static/css/style.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/upload/webuploader.css" />
<link rel="stylesheet" type="text/css" href="/static/upload/style.css" />


<!--时间选择插件-->
<link rel="stylesheet" href="/static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<!--日期选择插件-->



<style type="text/css">
#body{
    text-align: center;
}
.user-photo {
    width:300px;
    height:300px;
    margin-top: 10px;
}
.photo {
    max-width:100%;
    max-height:350px;
}
.img-preview-box {
    text-align: center;
}
.img-preview-box > div {
    display: inline-block;;
    margin-right: 10px;
}
.img-preview {
    overflow: hidden;
}
.img-preview-box .img-preview-lg {
    width: 150px;
    height: 150px;
}
.img-preview-box .img-preview-md {
    width: 100px;
    height: 100px;
}
.img-preview-box .img-preview-sm {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lyear-wrapper {
    position: relative;
}
.lyear-login {
    display: flex !important;
    min-height: 100vh;
    align-items: center !important;
    justify-content: center !important;
}
.login-center {
    background: #fff;
    min-width: 38.25rem;
    padding: 2.14286em 3.57143em;
    border-radius: 5px;
    margin: 2.85714em 0;
}
.login-header {
    margin-bottom: 1.5rem !important;
}
.login-center .has-feedback.feedback-left .form-control {
    padding-left: 38px;
    padding-right: 12px;
}
.login-center .has-feedback.feedback-left .form-control-feedback {
    left: 0;
    right: auto;
    width: 38px;
    height: 38px;
    line-height: 38px;
    z-index: 4;
    color: #dcdcdc;
}
.login-center .has-feedback.feedback-left.row .form-control-feedback {
    left: 15px;
}
</style>
</head>
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
      
      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="/"><img src="/static/cat.jpg" title="LightYear" alt="LightYear" /></a>
      </div>
      <div class="lyear-layout-sidebar-scroll"> 
        
        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item active"> <a href="/"><i class="mdi mdi-home"></i> 后台首页</a> </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-palette"></i> UI 元素</a>
              <ul class="nav nav-subnav">
                <li> <a href="lyear_ui_buttons.html">按钮</a> </li>
                <li> <a href="lyear_ui_cards.html">卡片</a> </li>
                <li> <a href="lyear_ui_grid.html">格栅</a> </li>
                <li> <a href="lyear_ui_icons.html">图标</a> </li>
                <li> <a href="lyear_ui_tables.html">表格</a> </li>
                <li> <a href="lyear_ui_modals.html">模态框</a> </li>
                <li> <a href="lyear_ui_tooltips_popover.html">提示 / 弹出框</a> </li>
                <li> <a href="lyear_ui_alerts.html">警告框</a> </li>
                <li> <a href="lyear_ui_pagination.html">分页</a> </li>
                <li> <a href="lyear_ui_progress.html">进度条</a> </li>
                <li> <a href="lyear_ui_tabs.html">标签页</a> </li>
                <li> <a href="lyear_ui_typography.html">排版</a> </li>
                <li> <a href="lyear_ui_step.html">步骤</a> </li>
                <li> <a href="lyear_ui_other.html">其他</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-book-open-page-variant"></i> 任务文档</a>
              <ul class="nav nav-subnav">
                <li> <a href="/wiki/wikilist">文档列表</a> </li>
                <li> <a href="/wiki/adddoc">创建文档</a> </li>
                <li> <a href="lyear_forms_checkbox.html">复选框</a> </li>
                <li> <a href="lyear_forms_switch.html">开关</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 示例页面</a>
              <ul class="nav nav-subnav">
                <li> <a href="lyear_pages_doc.html">文档列表</a> </li>
                <li> <a href="lyear_pages_gallery.html">图库列表</a> </li>
                <li> <a href="lyear_pages_config.html">网站配置</a> </li>
                <li> <a href="lyear_pages_rabc.html">设置权限</a> </li>
                <li> <a href="lyear_pages_add_doc.html">新增文档</a> </li>
                <li> <a href="lyear_pages_guide.html">表单向导</a> </li>
                <li> <a href="/login.html">登录页面</a> </li>
                <li> <a href="404.html">错误页面</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-language-javascript"></i> JS 插件</a>
              <ul class="nav nav-subnav">
                <li> <a href="lyear_js_datepicker.html">日期选取器</a> </li>
                <li> <a href="lyear_js_sliders.html">滑块</a> </li>
                <li> <a href="lyear_js_colorpicker.html">选色器</a> </li>
                <li> <a href="lyear_js_chartjs.html">Chart.js</a> </li>
                <li> <a href="lyear_js_jconfirm.html">对话框</a> </li>
                <li> <a href="lyear_js_tags_input.html">标签插件</a> </li>
                <li> <a href="lyear_js_notify.html">通知消息</a> </li>
              </ul>

            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-menu"></i> 多级菜单</a>
              <ul class="nav nav-subnav">
                <li> <a href="#!">一级菜单</a> </li>
                <li class="nav-item nav-item-has-subnav">
                  <a href="#!">一级菜单</a>
                  <ul class="nav nav-subnav">
                    <li> <a href="#!">二级菜单</a> </li>
                    <li class="nav-item nav-item-has-subnav">
                      <a href="#!">二级菜单</a>
                      <ul class="nav nav-subnav">
                        <li> <a href="#!">三级菜单</a> </li>
                        <li> <a href="#!">三级菜单</a> </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li> <a href="#!">一级菜单</a> </li>
              </ul>
            </li>

          </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-account-settings-variant"></i>用户管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="/users/userlist">用户列表</a> </li>
                <li class="nav-item nav-item-has-subnav">
                  <a href="#!">审核用户</a>
                  <ul class="nav nav-subnav">
                    <li> <a href="/users/reviewuser">审核用户列表</a> </li>
                    <li class="nav-item nav-item-has-subnav">
                      <a href="#!">二级菜单</a>
                      <ul class="nav nav-subnav">
                        <li> <a href="#!">三级菜单</a> </li>
                        <li> <a href="#!">三级菜单</a> </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li> <a href="/users/adduser">添加用户</a> </li>
              </ul>
            </li>
	 
          </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-tram"></i>链接管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="/service/servicelist">所有链接</a> </li>
                <li class="nav-item nav-item-has-subnav">
                  <a href="#!">一级菜单</a>
                  <ul class="nav nav-subnav">
                    <li> <a href="#!">二级菜单</a> </li>
                    <li class="nav-item nav-item-has-subnav">
                      <a href="#!">二级菜单</a>
                      <ul class="nav nav-subnav">
                        <li> <a href="#!">三级菜单</a> </li>
                        <li> <a href="#!">三级菜单</a> </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li> <a href="#!">一级菜单</a> </li>
              </ul>
           </li>

           </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-book-open"></i>任务规划</a>
              <ul class="nav nav-subnav">
                <li> <a href="/task/tasklist">所有任务</a> </li>
                <li class="nav-item nav-item-has-subnav">
                  <a href="#!">任务列表</a>
                  <ul class="nav nav-subnav">
                    <li> <a href="#!">未完成任务</a> </li>
                    <li class="nav-item nav-item-has-subnav">
                      <a href="#!">任务状态</a>
                      <ul class="nav nav-subnav">
                        <li> <a href="#!">计划任务</a> </li>
                        <li> <a href="#!">进行任务</a> </li>
                        <li> <a href="#!">未开始任务</a> </li>
                        <li> <a href="#!">完成任务</a> </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item nav-item-has-subnav"> 
                <a href="#!">任务报告</a> 
                <ul class="nav nav-subnav">
                  <li> <a href="#!">每周报告</a> </li>
                  <li> <a href="#!">每月报告</a> </li>
                  <li> <a href="#!">所有报告</a> </li>
                </ul>
              </li>
              </ul>
            </li>

          </ul>
        </nav>
        <div class="sidebar-footer">
          <p class="copyright">Copyright &copy; 2019. <a target="_blank" href="/">JamesOps</a> 自动化运维</p>
        </div>
      </div>
      
    </aside>
    <!--End 左侧导航-->


    <!--头部信息-->
    <header class="lyear-layout-header">
      
      <nav class="navbar navbar-default">
        <div class="topbar">
          
          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 后台首页 </span>
          </div>
        </div>
      </nav>
      
    </header>
    <!--End 头部信息--> 
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="edit-avatar">
                  <img src="/media/Avatar/{{ userinfo.Avatar}}"  alt="Avatar"  data-target="#changeModal" data-toggle="modal" class="img-avatar" />
                  <div class="avatar-divider"></div>
                  <div class="edit-avatar-content">
                    <button class="btn btn-default" data-target="#changeModal" data-toggle="modal">修改头像</button>
                    <p class="m-0">选择一张你喜欢的图片，裁剪后会自动生成264x264大小，上传图片大小不能超过2M。</p>
                 </div>
             </div>
          </div>
       </div>
<div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title text-primary">
            <i class="fa fa-pencil"></i>
                        更换头像
            </h4>
        </div>
        <div class="modal-body">
            <p class="tip-info text-center">
                未选择图片
            </p>
            <div class="img-container hidden">
                <img src="" alt="更换头像" id="photo">
            </div>
            <div class="img-preview-box hidden">
                <span>150*150:</span>
                <div class="img-preview img-preview-lg">
                </div>
                <span>100*100:</span>
                <div class="img-preview img-preview-md">
                </div>
                <span>30*30:</span>
                <div class="img-preview img-preview-sm">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <label class="btn btn-danger pull-left" for="photoInput">
            <input type="file" class="sr-only" id="photoInput" accept="image/*">
            <span>打开图片</span>
            </label>
            <button class="btn btn-primary disabled" disabled="true" onclick="sendPhoto();">提交</button>
            <button class="btn btn-close" aria-hidden="true" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>
</div>


          <div class="col-md-12">
            <div class="card">
              <div class="card-header"><h4>用户信息</h4></div>
              <div class="card-body">

                <form method="post" action="#!" class="site-form">
                  <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" name="username" id="username" value="{{userinfo.username}}" disabled="disabled" />
                  </div>
                  <div class="form-group">
                    <label for="nickname">昵称</label>
                    <input type="text" class="form-control" name="nickname" id="nickname" placeholder="贵姓？怎么称呼您呢？" value="{{userinfo.nickname}}">
                  </div>
                  <div class="form-group">
                      <label for="cellphone">手机</label>
                      <input type="text" class="form-control" name="cellphone" id="cellphone" placeholder="这家伙貌似不知道手机是神马" value="{{userinfo.cellphone}}">
                    </div>
                  <div class="form-group">
                    <label for="email">邮箱</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="请输入正确的邮箱地址" value="{{userinfo.email}}">
                    <small id="emailHelp" class="form-text text-muted">请保证您填写的邮箱地址是正确的。</small>
                  </div>
                  <div class="form-group">
                    <label for="remark">简介</label>
                    <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒什么也没有留下">{{ userinfo.remark }}</textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">保存</button>
                </form>
       
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
       </div>
      </div>

      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<!--End 上传图片-->
 <script type="text/javascript" src="/static/upload/jquery.js"></script>
 <script type="text/javascript" src="/static/upload/webuploader.js"></script>
 <script type="text/javascript" src="/static/upload/upload.js"></script>
<!--End 上传图片-->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/static/js/main.min.js"></script>
<script src="/static/Avatar/jquery.min.js"></script>
<script src="/static/Avatar/cropper.min.js"></script>
<script src="/static/Avatar/bootstrap.min.js"></script>
<script type="text/javascript">
    var initCropperInModal = function(img, input, modal){
        var $image = img;
        var $inputImage = input;
        var $modal = modal;
        var options = {
            aspectRatio: 1, // 纵横比
            viewMode: 2,
            preview: '.img-preview' // 预览图的class名
        };
        // 模态框隐藏后需要保存的数据对象
        var saveData = {};
        var URL = window.URL || window.webkitURL;
        var blobURL;
        $modal.on('show.bs.modal',function () {
            // 如果打开模态框时没有选择文件就点击“打开图片”按钮
            if(!$inputImage.val()){
                $inputImage.click();
            }
        }).on('shown.bs.modal', function () {
            // 重新创建
            $image.cropper( $.extend(options, {
                ready: function () {
                    // 当剪切界面就绪后，恢复数据
                    if(saveData.canvasData){
                        $image.cropper('setCanvasData', saveData.canvasData);
                        $image.cropper('setCropBoxData', saveData.cropBoxData);
                    }
                }
            }));
        }).on('hidden.bs.modal', function () {
            // 保存相关数据
            saveData.cropBoxData = $image.cropper('getCropBoxData');
            saveData.canvasData = $image.cropper('getCanvasData');
            // 销毁并将图片保存在img标签
            $image.cropper('destroy').attr('src',blobURL);
        });
        if (URL) {
            $inputImage.change(function() {
                var files = this.files;
                var file;
                if (!$image.data('cropper')) {
                    return;
                }
                if (files && files.length) {
                    file = files[0];
                    if (/^image\/\w+$/.test(file.type)) {

                        if(blobURL) {
                            URL.revokeObjectURL(blobURL);
                        }
                        blobURL = URL.createObjectURL(file);

                        // 重置cropper，将图像替换
                        $image.cropper('reset').cropper('replace', blobURL);

                        // 选择文件后，显示和隐藏相关内容
                        $('.img-container').removeClass('hidden');
                        $('.img-preview-box').removeClass('hidden');
                        $('#changeModal .disabled').removeAttr('disabled').removeClass('disabled');
                        $('#changeModal .tip-info').addClass('hidden');

                    } else {
                        window.alert('请选择一个图像文件！');
                    }
                }
            });
        } else {
            $inputImage.prop('disabled', true).addClass('disabled');
        }
    }



var sendPhoto = function () {
    // 得到PNG格式的dataURL
    var photo = $('#photo').cropper('getCroppedCanvas', {
        width: 300,
        height: 300
    }).toDataURL('image/png');

    $.ajax({
        url: '/users/Avatar', // 要上传的地址
        type: 'post',
        data: {
            'imgData': photo
        },
        dataType: 'text',
        success: function (data) {
            if (data == "success"){
                window.location.reload();
                alert("成功修改头像");
                // 将上传的头像的地址填入，为保证不载入缓存加个随机数
                // $('.user-photo').attr('src', '/media/Avatar/{{userinfo.Avatar_name}}' + Math.random());
                // $('#changeModal').modal('hide');
            } else {
                alert("上传失败");
            }
        }
    });
}


   $(function(){
        initCropperInModal($('#photo'),$('#photoInput'),$('#changeModal'));
    });
</script>
</body>
</html>
